<body style="width: 100%; width: 100%;
    font: 12px Roboto, Arial, sans-serif;
    background-color: #00000000;
    color: #fff;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    position: absolute;
    margin: 0;
    padding: 0;
">
<iframe width="1" height="1" src="/online.html" frameborder="0" allowfullscreen=""></iframe>



 <iframe width="100%" height="100%" src="https://vm-d7240840.na4u.ru/tw_bypass_m3.html#618b498d4fff2c905493265d6b6046e0" frameborder="0" allow="autoplay;"  autoplay="1" allowfullscreen=""></iframe> 


