<body style="width: 100%; width: 100%;
    font: 12px Roboto, Arial, sans-serif;
    background-color: #00000000;
    color: #fff;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    position: absolute;
    margin: 0;
    padding: 0;
">
<iframe width="1" height="1" src="/online.html" frameborder="0" allowfullscreen=""></iframe>

<script src="/players/playerjsAPP.js" type="text/javascript"></script>

<div id="player"  ></div>

<script>
var player = new Playerjs({id:"player", file:"https://bal.varcdn1.ru/lb/setantaplusukraina/index.m3u8", autoplay:"1", title:"PIN-UP", poster:"https://sun9-74.userapi.com/impg/yUgnVL6eL_-5_hT_XncquRV8a-7UdotfIGqkNQ/O9gbYEepvlA.jpg?size=1920x1080&quality=96&sign=656019d38c654fe45b0722529254cf4d&type=album"   });
</script>

  
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(75903004, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/75903004" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->