<!DOCTYPE html>
{% load static %}
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="3d332bf637e3f1c8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/tabs.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/tabstyles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta name="msapplication-TileColor" content="#E6E6FA">
    <meta name="msapplication-TileImage" content="{% static '/fonts/78.png' %}">
    <meta name="theme-color" content="#E6E6FA">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/4ca20d00e4.js"></script>
    <script src="{% static 'funcer.js' %}"></script>
</head>
<body>
    <svg class="hidden">
        <defs>
            <path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z"/>
        </defs>
    </svg>
    <img src="https://app.appsflyer.com/org.xbet.client1-Custom?pid=gradientt&promocode=1x_515381&c=d_1264355m_1599c_AF&tag=d_1264355m_1599c_AF&is_retargeting=true&af_click_lookback=30d" width="1px" height="1px" style="display: none"/>
    <img src="https://app.appsflyer.com/id844035425?pid=gradientt&promocode=1x_515381&c=d_1264355m_1599c_AF&is_retargeting=true&af_click_lookback=30d" width="1px" height="1px" style="display: none"/>
	
    <div class="container" style="
        max-width: 1140px;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 0;
        margin-left: 0;
    margin-top: 57px;">
        <section>
            <div class="tabs tabs-style-linemove">
                <nav style="
                    font-size: 12px;
                    position: fixed;
                    top: 0;
                    z-index: 101;
                    /* background-color: #FCF8E4; */
                    width: 100%;">
                    <ul>
                        <li>
                            <a href="#section-linemove-1" onclick="get_sport(0, true)" class="icon icon-home">
                                <svg style="width: 30px; margin-top: 0px;" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><g><rect fill="none" height="24" width="24"/></g><g><g><path d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10s10-4.48,10-10C22,6.48,17.52,2,12,2z M13,5.3l1.35-0.95 c1.82,0.56,3.37,1.76,4.38,3.34l-0.39,1.34l-1.35,0.46L13,6.7V5.3z M9.65,4.35L11,5.3v1.4L7.01,9.49L5.66,9.03L5.27,7.69 C6.28,6.12,7.83,4.92,9.65,4.35z M7.08,17.11l-1.14,0.1C4.73,15.81,4,13.99,4,12c0-0.12,0.01-0.23,0.02-0.35l1-0.73L6.4,11.4 l1.46,4.34L7.08,17.11z M14.5,19.59C13.71,19.85,12.87,20,12,20s-1.71-0.15-2.5-0.41l-0.69-1.49L9.45,17h5.11l0.64,1.11 L14.5,19.59z M14.27,15H9.73l-1.35-4.02L12,8.44l3.63,2.54L14.27,15z M18.06,17.21l-1.14-0.1l-0.79-1.37l1.46-4.34l1.39-0.47 l1,0.73C19.99,11.77,20,11.88,20,12C20,13.99,19.27,15.81,18.06,17.21z"/></g></g></svg><br>
                                <n style="color: #fff;font-size: 10px;">Футбол</n>
                            </a>
                        </li>
                        <li>
                            <a href="#section-linemove-2" onclick="get_sport(1, true)" class="icon icon-box">
                                <svg style="margin-right: 1px;width:30px; margin-top: 0px;" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 11h-4.17l3.24-3.24-1.41-1.42L15 11h-2V9l4.66-4.66-1.42-1.41L13 6.17V2h-2v4.17L7.76 2.93 6.34 4.34 11 9v2H9L4.34 6.34 2.93 7.76 6.17 11H2v2h4.17l-3.24 3.24 1.41 1.42L9 13h2v2l-4.66 4.66 1.42 1.41L11 17.83V22h2v-4.17l3.24 3.24 1.42-1.41L13 15v-2h2l4.66 4.66 1.41-1.42L17.83 13H22v-2z"/></svg><br>
                                <n style="color: #fff;font-size: 10px;">Хоккей</n>
                            </a></li>
                        <li>
                            <a href="#section-linemove-3" onclick="get_sport(2, true)" class="icon icon-display">
                                <svg style="margin-right: 1px;width: 30px; margin-top: 0px;" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><rect fill="none" height="24" width="24"/><path d="M18.5,4.5c0,1.1-0.9,2-2,2s-2-0.9-2-2s0.9-2,2-2S18.5,3.4,18.5,4.5z M15.78,20.9l0.76,0.27c0.62,0.21,1.27,0.33,1.96,0.33 c0.84,0,1.65-0.18,2.38-0.5L22,22.13C20.95,22.68,19.76,23,18.5,23c-0.86,0-1.68-0.14-2.45-0.41L2,17.47l0.5-1.41l6.9,2.51 l1.72-4.44L7.55,10.4C6.66,9.46,6.88,7.93,8,7.28l3.48-2.01c1.1-0.64,2.52-0.1,2.91,1.11l0.33,1.08c0.44,1.42,1.48,2.57,2.83,3.14 L18.07,9l1.43,0.46l-1.12,3.45c-2.45-0.4-4.48-2.07-5.38-4.32l-2.53,1.45l3.03,3.46l-2.22,5.76l3.09,1.12l2.1-6.44h0l0,0 c0.46,0.18,0.94,0.31,1.44,0.41L15.78,20.9z"/></svg>
                                <br>
                                <n style="color: #fff;font-size: 10px;">Биатлон</n>
                            </a>
                        </li>
                        <li>
                            <a href="#section-linemove-4" onclick="get_sport(3, true)" class="icon icon-upload">
                                <svg style="margin-right: 3px;width: 30px; margin-top: 0px;" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><g><rect fill="none" height="24" width="24"/></g><g><g><path d="M7,20c0,0.55,0.45,1,1,1h8c0.55,0,1-0.45,1-1v-3H7V20z"/><path d="M18,7c-0.55,0-1,0.45-1,1V5c0-1.1-0.9-2-2-2H7C5.9,3,5,3.9,5,5v5.8c0,0.13,0.01,0.26,0.04,0.39l0.8,4 c0.09,0.47,0.5,0.8,0.98,0.8H17c0.55,0,1.09-0.44,1.2-0.98l0.77-3.83C18.99,11.06,19,10.93,19,10.8V9V8C19,7.45,18.55,7,18,7z M17,10.6c0,0.13-0.64,3.4-0.64,3.4H7.64c0,0-0.64-3.26-0.64-3.4V5h8v5h2V10.6z"/><rect height="3" width="6" x="8" y="7"/></g></g></svg><br>
                                <n style="color: #fff;font-size: 10px;">Единоборства</n>
                            </a>
                        </li>
                        <li>
                            <a href="#section-linemove-5" onclick="get_sport(4, true)" class="icon icon-upload">
                                <svg  style="margin-right: 1px;width: 30px; margin-top: 0px;" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11.57 13.16c-1.36.28-2.17 1.16-2.17 2.41 0 1.34 1.11 2.42 2.49 2.42 2.05 0 3.71-1.66 3.71-3.71 0-1.07-.15-2.12-.46-3.12-.79 1.07-2.2 1.72-3.57 2zM13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM12 20c-3.31 0-6-2.69-6-6 0-1.53.3-3.04.86-4.43 1.01 1.01 2.41 1.63 3.97 1.63 2.66 0 4.75-1.83 5.28-4.43C17.34 8.97 18 11.44 18 14c0 3.31-2.69 6-6 6z"/></svg><br>
                                <n style="color: #fff;font-size: 10px;">Другое</n>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="content-wrap" style="padding: 10px;">
                    <section id="section-linemove-1"></section>
                    <section id="section-linemove-2"></section>
                    <section id="section-linemove-3"></section>
                    <section id="section-linemove-4"></section>
                    <section id="section-linemove-5"></section>
                </div>
            </div>
        </section>
    </div>
    <data hidden>
        <csrf>{{ csrf_token }}</csrf>
        <sport>0</sport>
    </data>
    <!-- jQuery -->
    <script src="https://itchief.ru//examples/libs/jquery/jquery-3.x.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://itchief.ru//examples/libs/bootstrap-4/js/bootstrap.bundle.js"></script>
    <!-- control-modal -->
    <script src="https://itchief.ru//examples/vendors/solution-for-bootstrap/control-modal-b4.js"></script>
    <script>
        $(function () {
          // создаём объект "Модальное окно"
          var myModal = new ModalApp.ModalProcess({ id: 'myModal' });
          myModal.init();
          $(document).on('click', '.modal-show', function () {
            myModal.changeTitle($(this).attr('data-title'));
            myModal.changeBody($(this).attr('data-content'));
            myModal.showModal();
          });
          $('#' + myModal.id).on('hidden.bs.modal', function (e) {
            myModal.changeBody('');
          });

        });
    </script>
    <script src="{% static 'js/cbpFWTabs.js' %}"></script>
    <script>
        (function() {
            [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
                new CBPFWTabs( el );
            });
        })();
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
       ym(75903004, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/75903004" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <script>get_sport(0)</script>
    <!--<script>setInterval(get_sport, 10000)</script>>
</body>
</html>